*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Fredoka", sans-serif;
}
body {
  height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
}
.container {
  /* border: 2px solid white; */
  border-radius: 4px;
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 40px;
}
#new-task {
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
#new-task input {
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 70%;
  width: 70%;
  height: 45px;
  font-size: 15px;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;

  /* font-family: "poppins", sans-serif; */
}

#new-task input:focus {
  outline: none;
  border-color: #8052ec;
}

#new-task button {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  background-color: #8052ecf0;
  border: none;
  color: #ffffff;
  cursor: pointer;
}
#task {
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: relative;
}
.tasks {
  background-color: #ffffff;
  height: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #dadada;
  cursor: pointer;
}
.tasks span {
  font-size: 16px;
  font-weight: 400;
}
.tasks button {
  font-size: 20px;
  color: #8052ec;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}
.checked {
  text-decoration: line-through;
}
